fifth_hw/PokemonResult copia.csv
fifth_hw/PokemonResult.csv
fifth_hw/RefactoredOutcomePokemonResult.csv
fifth_hw/RefactoredPokemonResult.csv
fifth_hw/map_type.csv
fifth_hw/map_type.xlsx
fifth_hw/map_encoder.py
fifth_hw/data/PokemonResult.csv
fifth_hw/data/RefactoredIndependentPokemonResult.csv
fifth_hw/data/RefactoredOutcomePokemonResult.csv
fifth_hw/data/map_type.csv
